<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCDA2mHXo_XsPjpC4Ue4cQs0fM-4ut6DE</string>
	<key>GCM_SENDER_ID</key>
	<string>14680947691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.landingpage</string>
	<key>PROJECT_ID</key>
	<string>fundacion-f7ab0</string>
	<key>STORAGE_BUCKET</key>
	<string>fundacion-f7ab0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14680947691:ios:c86580cd71ba1d6359b7ae</string>
</dict>
</plist>